.mainWindow {
  background-color: #016579;
  height: 100vh;
  position: relative;
  min-width: 600px;
}
.mainWindow h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  max-height: 203px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  font-size: 5em;
  transition: 1s;
  font-family: "Baloo Chettan", cursive;
}
.mainWindow span {
  font-size: 0.7em;
  color: orangered;
}
